@model ShoppingCartVM;
@using Microsoft.Extensions.Options
@inject IOptions<MyShop.Utilibilites.StripeData> Stripe
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping Cart</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- file css -->
    <link rel="stylesheet" href="~/css/summary.css" />
</head>

<body>
    <div class="wrapper">
        <div class="h5 large">Billing Address</div>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
                <div class="mobile h5">Billing Address</div>
                <div id="details" class="bg-white rounded pb-5">
                    <form method="post">
                        <div class="form-group">
                            <label class="text-muted">Name</label>
                            <input asp-for="OrderHeader.Name" type="text"  class="form-control">
                            <span asp-validation-for="OrderHeader.City" class="fas fa-check text-success pr-2"></span>

                        </div>
                        <div class="form-group">
                            <label class="text-muted">Email</label>
                            <div class="d-flex justify-content-start align-items-center rounded p-2">
                                <input type="email" value="david.343@gmail.com" >
                                <span class="fas fa-check text-success pr-sm-2 pr-0"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <div class="d-flex justify-content-start align-items-center rounded p-2">
                                        <input type="text" asp-for="OrderHeader.City" >
                                        <span asp-validation-for="OrderHeader.City" class="fas fa-check text-success pr-2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <div class="d-flex justify-content-start align-items-center rounded p-2">
                                    <input type="text" asp-for="OrderHeader.Phone" >
                                        <span asp-validation-for="OrderHeader.Phone" class="fas fa-check text-success pr-2"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> 
                                        <input type="text"  asp-for="OrderHeader.Address">
                                        <span  asp-validation-for="OrderHeader.Address" class="fas fa-check text-success pr-2"></span> 
                                        </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <a asp-action="index" asp-area="customer" asp-controller="home" class="btn btn-outline-secondary text-uppercase">Back to shopping</a>

                            <button type="submit" class="btn btn-primary text-uppercase">Place Order</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
                <div id="cart" class="bg-white rounded">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="h6">Cart Summary</div>
                        <div class="h6">
                            <a href="#">Edit</a>
                        </div>
                    </div>
                  
                    @foreach (var item in Model.CartList)
                    {
                        <div class="d-flex justify-content-between align-items-center pt-3 pb-2 border-bottom">
                            <div class="item pr-2">
                                <img src="~/@item.Product.Img"
                                     alt="" width="80" height="80">
                                <div class="number">@item.Count</div>
                            </div>
                            <div class="d-flex flex-column px-3">
                                <b class="h5">@item.Product.Name</b>
                                
                            </div>
                            <div class="ml-auto">
                                <b class="h5">$@item.Product.Price</b>
                            </div>
                        </div>


                    }
                  
                    
                    <div class="d-flex align-items-center py-2">
                        <div class="display-5">Total</div>
                        <div class="ml-auto d-flex">
                            <div class="text-primary text-uppercase px-3">usd</div>
                            <div class="font-weight-bold">$ @Model.OrderHeader.TotalPrice.ToString()</div>
                        </div>
                    </div>
                </div>
               

                <!-- Buttons Section -->
               
            </div>
        </div>
    </div>
    <div class="text-muted">
        <span class="fas fa-lock"></span>
        Your information is save
    </div>
    </div>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript'>#</script>
    <script type='text/javascript'>
        var myLink = document.querySelector('a[href="#"]');
        myLink.addEventListener('click', function (e) {
            e.preventDefault();
        });</script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
